<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>emotions</key>
		<array>
			<string>emoticon_2</string>
			<string>emoticon_3</string>
			<string>emoticon_4</string>
		</array>
		<key>type</key>
		<string>0</string>
		<key>text</key>
		<string>逗逼被反杀了，哈哈哈！！</string>
		<key>userName</key>
		<string>姓名1</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>emoticon_2</string>
			<string>emoticon_3</string>
			<string>emoticon_4</string>
			<string>emoticon_5</string>
			<string>emoticon_1</string>
		</array>
		<key>type</key>
		<string>0</string>
		<key>text</key>
		<string>老哥稳！！</string>
		<key>userName</key>
		<string>姓名2</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>emoticon_2</string>
			<string>emoticon_3</string>
		</array>
		<key>type</key>
		<string>1</string>
		<key>text</key>
		<string>他强由他强，清风拂山岗；他横由他横，明月照大江。</string>
		<key>userName</key>
		<string>姓名3</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array/>
		<key>type</key>
		<string>0</string>
		<key>text</key>
		<string>开启超级滚键盘模式。。。</string>
		<key>userName</key>
		<string>姓名4</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>emoticon_1</string>
			<string>emoticon_1</string>
			<string>emoticon_1</string>
			<string>emoticon_1</string>
			<string>emoticon_1</string>
		</array>
		<key>type</key>
		<string>0</string>
		<key>text</key>
		<string>换首动感点的BGM吧。。</string>
		<key>userName</key>
		<string>姓名5</string>
	</dict>
</array>
</plist>
